#btn-colour-2 {
	color: #fff;
	background-color: #004e64;
	border-color: #004e64;
	font-weight: bold;
	letter-spacing: 0.05em;
	border-radius: 0;
	margin-top: 10px;
	border-radius: 8px;
}

#btn-colour-1:hover,
#btn-colour-1:active,
#btn-colour-1:focus,
#btn-colour-1.active {
	/* let's darken #004E64 a bit for hover effect */
	background: #007497;
	color: #ffffff;
	border-color: #003d4f;
}

#btn-colour-2 {
	color: #fff;
	background-color: #004e64;
	border-color: #004e64;
	font-weight: bold;
	letter-spacing: 0.05em;
	border-radius: 0;
	margin-top: 10px;
	border-radius: 8px;
	font-size: 30px;
}

#btn-colour-2:hover,
#btn-colour-2:active,
#btn-colour-2:focus,
#btn-colour-2.active {
	/* let's darken #004E64 a bit for hover effect */
	background: #007497;
	color: #ffffff;
	border-color: #003d4f;
}

.bottom {
	position: absolute;
	bottom: 10px;
}

.custom {
	background-color: #9bebf5e3 !important;
	height: 42vh;
	padding-bottom: 20px;
	border: 2px solid #393294 !important;
	border-radius: 2em !important;
}
.custom-popover {
	background-color: #9bebf5e3 !important;
	border: 2px solid #393294 !important;
	border-radius: 1em !important;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}

button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
}
button.learn-more {
	font-weight: 600;
	margin: 0 5px 25px 0;
	color: #382b22;
	text-transform: uppercase;
	background: #fff0f0;
	border: 2px solid #b18597;
	border-radius: 0.75em;
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #f9c4d2;
	border-radius: inherit;
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
	background: #ffe9e9;
	transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
	box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
	transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active {
	background: #ffe9e9;
	transform: translate(0em, 0.75em);
}
button.learn-more:active::before {
	box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
	transform: translate3d(0, 0, -1em);
}

#canvasSetting {
	background-color: #9bebf5e3;
	min-height: 100vh;
	max-width: 540px;
	border-style: ridge;
	border-width: 3px;
}

#progessAppMargins {
	margin-top: '1em 0';
}
